.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(211, 211, 211); 
}

.DetailContainer {
  width: 1000px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  display: flex;
  color: #000;
  position: relative;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

.leftColumn {
  height: auto;
  width: 30%;
  border-right: 3px solid black;
}

.leftColumn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightColumn {
  width: 70%;
  padding: 10px 50px 10px 50px;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  justify-content:first baseline;
  align-items: center;
  flex-direction: column;
}

.rightColumn p:nth-child(6) {
  margin-top: -10px;
}

.driverName {
  background-color: black;
  color: white;
  margin-bottom: 25px;
}

.closeButton {
  background-color: #000;
  border-color: transparent;
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  top: -15px;
  right: 0px;
  padding: 2px 15px 2px 15px;
  border-bottom-left-radius: 8px;
  z-index: 1000;
  margin-top: 15px;
  text-decoration: none;
}

.flag {
  width: 50px;
  border: solid .5px rgb(102, 102, 102);
  border-radius: 5px ;
  margin-top: -20px;
}

.nationalityName {
  font-size:smaller
}

.infoTitle {
  width: 100%;
  background-color: rgb(167, 16, 16);
  color: white;
  font-weight: 800;
  font-size:larger;
  margin-bottom: -10px;
}

.driverDescription {
  text-align: justify;
  margin-top: 25px;
}

.loadingGIF {
  width: 100px;
  margin: auto;
}